<button ng-click="switchStatus()">Switch Status</button>
<h2 ng-hide="stateOfLine" style="color: #006400;">ONLINE</h2>
<h2 ng-hide="!stateOfLine" style="color: #710909">OFFLINE</h2>
<hr/>
<h1>GET</h1>

<button id="btn-load-data" ng-click="loadDataGET()">Load DATA</button>

<ul>
	<li ng-repeat="user in usersGet">
		{{user.name}}
	</li>
</ul>


<hr/>


<h1>POST</h1>

<input type="text" ng-model="txtname" placeholder="Name"/>
<input type="text" ng-model="txtemail" placeholder="Email"/>
<button ng-click="saveData()">Save</button>
<br/>
<pre style="background-color: #ececec">
	{{ outputSaved }}
</pre>
